name: Patch Kernel with WildKSU

on:
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      firmware_dir:
        description: 'Firmware folder'
        required: false
      kernel_version:
        description: 'Kernel version'
        required: false

jobs:
  patch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Run Patch Script
        env:
          GH_TOKEN: ${{ github.token }}
          INPUT_FW: ${{ github.event.inputs.firmware_dir }}
          INPUT_KV: ${{ github.event.inputs.kernel_version }}
        run: bash patch.sh